#bannerica {
  content: "";
  height: 30vh;
  display: block;
  background-image: url("/freeswitch/bannerica/Banner-PUC.webp");
  background-size: contain; /* This will make the background image cover the entire box */
  background-position: center; /* Center the background image within the box */
  background-repeat: no-repeat; /* Ensure the background image is not repeated */
}

@media screen and (max-width: 600px) {
  #bannerica {
    height: 20vh;
  }
}
