/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Inter',sans-serif;
  --ifm-heading-font-family: 'Neue Einstellung',sans-serif;

  --ifm-color-primary: #254592;
  /* --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e; */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --fs-primary: #254592;
  --fs-secondary: #DBAC28;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: rgb(28,81,121);
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

h1, h2 {
  font-weight: var(--ifm-font-weight-semibold);
}

/* Neue Einstellung font-face */
@font-face {
  font-family:"Neue Einstellung";font-style:normal;font-weight:500;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Medium.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Medium.woff) format("woff")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:700;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Bold.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Bold.woff) format("woff")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:100;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Thin.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Thin.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Thin.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Thin.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:200;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Light.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Light.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Light.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Light.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:300;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Normal.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Normal.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Normal.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Normal.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:400;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Regular.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Regular.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Regular.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Regular.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:500;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Medium.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Medium.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Medium.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Medium.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:600;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-SemiBold.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-SemiBold.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-SemiBold.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-SemiBold.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:700;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Bold.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Bold.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Bold.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Bold.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:800;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-ExtraBold.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-ExtraBold.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-ExtraBold.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-ExtraBold.ttf) format("ttf")}@font-face{font-family:"Neue Einstellung";font-style:normal;font-weight:900;font-display:swap;src:url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Black.woff2) format("woff2"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Black.woff) format("woff"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Black.eot) format("eot"),url(//cdn.signalwire.com/fonts/neue-einstellung/NeueEinstellung-Black.ttf) format("ttf")
}

/** Navbar **/
.navbar {
  //border-bottom: 4px solid #f72a72;
  border-bottom: 4px solid var(--ifm-color-primary);
  font-size: 14px;

  .navbar__items a > svg {
    display: none;
  }
}

.main-wrapper figure:not(.readme-fig) {
  text-align: center;

  & > img {
    margin-bottom: 1em;
  }

  & > figcaption {
    text-align: center;
    font-style: italic;
  }
}

/** Banner **/
div[class^='announcementBar_'] {
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;

  /*
  --site-announcement-bar-stripe-color1: hsl(
    var(--site-primary-hue-saturation) 85%
  );
  --site-announcement-bar-stripe-color2: hsl(
    var(--site-primary-hue-saturation) 95%
  );
   */
  --site-announcement-bar-stripe-color1: #e8d7ff;
  --site-announcement-bar-stripe-color2: #ffe9d1;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--fs-primary);
  background-color: white;
  
  a {
    font-family: Arial Black, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  .button {
    font-family: Arial Black, Helvetica, Sans-serif;
    color: white;
    padding: .1rem .6rem;
    margin-left: 15px;
    border-radius: 1rem;
  }
}