name: DocSearch Scraper

# This workflow periodically updates the search index on Algolia

on:
  workflow_dispatch:

  schedule:
    # * is a special character in YAML so we have to quote this string
    - cron:  '41 7 * * *'

jobs:
  scraper:
    runs-on: ubuntu-latest
    container:
      image: algolia/docsearch-scraper:latest
      env:
        APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
        API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Run scraper
        run: export CONFIG="$(cat algolia.json)"; (cd /root && pipenv install && pipenv run python -m src.index)
